body {
    color: #fff;
    background: #333;
}
.bespoke-slide h1 {
    font-weight: 300;
    font-size: 42px;
    letter-spacing: 6px;
    margin: 0px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    word-spacing: -0.3em;
}
.bespoke-slide h1 span {
    font-family: 'Satisfy', serif;
    font-weight: 400;
    font-size: 40%;
    text-transform: none;
    word-spacing: 0;
    letter-spacing: 0;
    display: block;
    opacity: 0.4;
}
.bespoke-slide h2 {
    position: absolute;
    font-weight: 400;
    font-size: 36px;
    margin: 0px;
    top: 40px;
    left: 30px;
}
.bespoke-slide h3 {
    position: absolute;
    font-weight: 400;
    margin: 0;
    top: 340px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #606060;
}
.bespoke-slide h1 strong {
    color: rgba(0, 0, 0, 0.2);
}
.bespoke-slide h2 strong {
    color: rgba(0, 0, 0, 0.2);
}
.bespoke-slide a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.bespoke-slide pre strong {
    color: white;
}
em {
    color: black;
}
pre {
    font-size: 18px;
    text-align: left
}
ul li {
    text-align: left;
}
body > article > div.backdrop-color.bespoke-backdrop:nth-child(6n+1) {
    background: #0ac2d2;
}
body > article > div.backdrop-color.bespoke-backdrop:nth-child(6n+2) {
    background: #7bb7fa;
}
body > article > div.backdrop-color.bespoke-backdrop:nth-child(6n+3) {
    background: #60d7a9;
}
body > article > div.backdrop-color.bespoke-backdrop:nth-child(6n+4) {
    background: #fdc162;
}
body > article > div.backdrop-color.bespoke-backdrop:nth-child(6n+5) {
    background: #fd6a62;
}
body > article > div.backdrop-color.bespoke-backdrop:nth-child(6n+6) {
    background: #f68dbb;
}
body > article > div.backdrop-color.bespoke-backdrop:last-child() {
    background: #333;
}