<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>The past, present and future of AngularJS</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100italic,100,300italic,300,400italic,400,500italic,500,700italic,700,900italic,900">
    <link rel="stylesheet" href="bower_components/prismjs/prism.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
</head>

<body>
    <article>

        <section data-bespoke-backdrop="backdrop-color">
            <h1>The past, present and future of
                <strong>AngularJS</strong>
            </h1>
            <p class="pullquote">Lessons from ngEurope 2014<br>Kevin Denver (@ToastShaman)</p>
        </section>

        <section data-bespoke-backdrop="backdrop-color">
            <h2>Angular 1.3: <strong>Overview</strong></h2>
            <p class="weight1">The best Angular yet!</p>
            <p class="weight2">A lot of <strong>performance improvements</strong> went into this release.</p>
            <p class="weight2"><strong>4.4x</strong> faster and <strong>73%</strong> less garbage to collect (Benchpress)</p>
            <p>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-circle-thin"></i>IE8 is no longer supported</li>
                    <li><i class="fa-li fa fa-circle-thin"></i>Reduced Memory Consumption</li>
                    <li><i class="fa-li fa fa-circle-thin"></i>Faster DOM parsing</li>
                    <li><i class="fa-li fa fa-circle-thin"></i>Built in One-Time-Binding</li>
                    <li><i class="fa-li fa fa-circle-thin"></i><strong>ngModelOptions</strong></li>
                    <li><i class="fa-li fa fa-circle-thin"></i><strong>ngMessages</strong></li>
                    <li><i class="fa-li fa fa-circle-thin"></i><strong>ngAria</strong></li>
                </ul>
            </p>
        </section>

        <section data-bespoke-backdrop="backdrop-color">
            <h2>Angular 1.3: <strong>ngModelOptions</strong></h2>
            <pre><code class="language-markup">&lt;!-- One Time Binding --&gt;
&lt;span ng-bind=&quot;::user.lastName&quot;&gt;&lt;/span&gt;

&lt;!-- ngModelOptions (updateOn) --&gt;
&lt;input type=&quot;text&quot; name=&quot;userName&quot;
    ng-model=&quot;user.name&quot;
    ng-model-options=&quot;{ updateOn: 'blur' }&quot;
    ng-keyup=&quot;cancel($event)&quot; /&gt;

&lt;!-- ngModelOptions (debounce) --&gt;
&lt;input type=&quot;text&quot; name=&quot;userName&quot;
    ng-model=&quot;user.name&quot;
    ng-model-options=&quot;{ debounce: 1000 }&quot; /&gt;
&lt;button ng-click=&quot;userForm.userName.$rollbackViewValue(); user.name=''&quot;&gt;Clear&lt;/button&gt;&lt;br /&gt;

&lt;!-- ngMessages --&gt;
&lt;div ng-messages=&quot;myForm.myName.$error&quot; style=&quot;color:maroon&quot;&gt;
    &lt;div ng-message=&quot;required&quot;&gt;You did not enter a field&lt;/div&gt;
    &lt;div ng-message=&quot;minlength&quot;&gt;Your field is too short&lt;/div&gt;
    &lt;div ng-message=&quot;maxlength&quot;&gt;Your field is too long&lt;/div&gt;
&lt;/div&gt;</code></pre>
        </section>

        <section data-bespoke-backdrop="backdrop-color">
            <h2>Angular 1.3: <strong>In Production</strong></h2>

            <p class="medium-text-width">
                Where the compiler has created a new scope, the scope and either <span class="inline-code">ng-scope</span> or 
                <span class="inline-code">ng-isolated-scope</span> CSS class are attached to the corresponding element. 
                These scope references can then be accessed via <span class="inline-code">element.scope()</span> and <span class="inline-code">element.isolateScope()</span>. 
                Tools like Protractor and Batarang need this information to run, but you can disable this in production for a significant performance boost.
            </p>

            <p class="medium-text-width">
                Configure <span class="inline-code">$http</span> service to combine processing of multiple http responses received at around the same time via 
                <span class="inline-code">$rootScope.$applyAsync</span>.
            </p>

            <pre><code class="language-javascript">$compileProvider.debugInfoEnabled(false);
$httpProvider.useApplyAsync(true);</code></pre>
            
            <p class="medium-text-width">
                An expression that starts with <span class="inline-code">::</span> is considered a one-time expression. One-time expressions will stop 
                recalculating once they are stable, which happens after the first digest if the expression result is a non-undefined value.
            </p>

            <pre><code class="language-markup">&lt;span ng-bind=&quot;::user.lastName&quot;&gt;&lt;/span&gt;

&lt;!-- Use ng-bind instead of {{var}} because it uses less memory --&gt;
&lt;span ng-bind=&quot;order.amount&quot;&gt;&lt;/span&gt;
</code></pre>
        </section>

        <section data-bespoke-backdrop="backdrop-color">
            <h2>ngAria: <strong>Accessible Rich Internet Applications</strong></h2>
            <div class="footnote">http://marcysutton.github.io/angular-a11y/#/</div>
        </section>

        <section data-bespoke-backdrop="backdrop-color">
            <h2>Software Patterns in Angular: <strong>Anti-Patterns</strong></h2>
            <p>
                <ul class="fa-ul software_patterns__list">
                    <li><i class="fa fa-exclamation-circle"></i> <strong>War and Peace Controllers:</strong><br>Extremely long controllers that cover several epic code stories and philosophical musing.</li>
                    <li><i class="fa fa-exclamation-circle"></i> <strong>Link Function of Doom:</strong><br>Putting all of the code to drive into the link function.</li>
                    <li><i class="fa fa-exclamation-circle"></i> <strong>“Forgot About Dialogs” Global State:</strong><br>Using services to store “per-page” state and clearing upon route change.</li>
                    <li><i class="fa fa-exclamation-circle"></i> <strong>Magical Prototype Chain Dependency:</strong><br>Depending on one or more properties of the prototype chain to (magically) be present (from a top controller).</li>
                </ul>
            </p>
            <div class="footnote">https://docs.google.com/presentation/d/1eOL6ZaT-WqqC5q5D_uwE2EJxKmdWmfmXkkD4T47iYHk/mobilepresent?slide=id.p</div>
        </section>

        <section data-bespoke-backdrop="backdrop-color">
            <h2>Software Patterns in Angular: <strong>Active Record Pattern</strong></h2>
            <div class="footnote">https://docs.google.com/presentation/d/1eOL6ZaT-WqqC5q5D_uwE2EJxKmdWmfmXkkD4T47iYHk/mobilepresent?slide=id.p</div>
            <pre><code class="language-javascript">// TODO:</pre></code>
        </section>

        <section data-bespoke-backdrop="backdrop-color">
            <h2>Angular Material: <strong>Material Design</strong></h2>
            <div class="footnote">https://www.youtube.com/watch?v=2qiyhkQVyxE</div>
        </section>

        <section data-bespoke-backdrop="backdrop-color">
            <h2>Angular 2.0: <strong>R.I.P</strong></h2>
            <img src="img/angularjs20-rip_what.png" alt="" width="600">
            <div class="footnote">https://docs.google.com/presentation/d/1hr2IM-8G-0RzpB-WY8pLHvxqNggKPzUO0KvEv1IKPws/edit?pli=1#slide=id.p</div>
        </section>

        <section data-bespoke-backdrop="backdrop-color">
            <h2>Angular 2.0: <strong>AtScript</strong></h2>
            <div class="footnote">https://docs.google.com/presentation/d/1hr2IM-8G-0RzpB-WY8pLHvxqNggKPzUO0KvEv1IKPws/edit?pli=1#slide=id.p</div>
        </section>

        <section data-bespoke-backdrop="backdrop-color">
            <h2>ES6 and Google Traceur</h2>
            <div class="footnote">http://arv.github.io/ngeurope/#/</div>
        </section>

        <section data-bespoke-backdrop="backdrop-color">
            <h2>Thank You!</h2>
            <p class="weight6">
                <i class="fa fa-github-alt"></i> https://github.com/ToastShaman<br><br>
                <i class="fa fa-twitter"></i> @ToastShaman<br><br>
                <i class="fa fa-globe"></i> http://www.zuehlke.com<br><br>
            </p>
        </section>

    </article>

    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/bespoke.js/dist/bespoke.min.js"></script>
    <script src="bower_components/bespoke-hash/dist/bespoke-hash.min.js"></script>
    <script src="bower_components/bespoke-touch/dist/bespoke-touch.min.js"></script>
    <script src="bower_components/bespoke-keys/dist/bespoke-keys.min.js"></script>
    <script src="bower_components/bespoke-backdrop/dist/bespoke-backdrop.min.js"></script>
    <script src="bower_components/bespoke-theme-cube/dist/bespoke-theme-cube.min.js"></script>
    <script src="bower_components/prismjs/prism.js"></script>
    <script src="js/presentation.js"></script>
</body>

</html>