// Bespoke Classes: https://github.com/markdalgleish/bespoke-classes
// Stylus: http://learnboost.github.io/stylus

@import 'normalizecss/normalize.css'

.bespoke-parent
  text-size-adjust: auto
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  background: #EEEEEE

  font-family: Roboto, sans-serif
  font-wight: 400
  font-size: 24px
  line-height: 36px

.bespoke-slide
  border: 1px dottted orange
  transition: opacity .2s ease
  width: 960px
  height: 700px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -(@width / 2)
  margin-top: -(@height / 2)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.bespoke-active
  transition-delay: .2s

.bespoke-inactive
  opacity: 0
  pointer-events: none

.bespoke-bullet-inactive
  opacity: 0
  pointer-events: none

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: .3vw

.bespoke-progress-bar
  position: absolute
  height: 100%
  background: #F50057
  transition: width .3s ease

h1
  font-size: 44px
  font-weight: 700
  color: #FF1744

h2 
  margin-top: 0px
  font-size: 34px
  line-height: 28px
  font-weight: 400
  color: #FF1744

h3 
  margin-top: 0px
  font-size: 24px
  line-height: 36px
  font-weight: 700
  color: #757575  

a 
  text-decoration: none
  border-bottom:2px dotted
  color: #FF1744

code
  font-family: prestige elite std, consolas, courier new, monospace !important
  font-style: normal
  font-weight: 200 !important
  text-align: left